.my-profile-hero {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start !important;
}

.friends-list {
    background-color: rgb(255, 246, 223);
    border: 2px solid goldenrod;
    padding: 1vh 1vw;
}

.friend {
    border-bottom: 2px solid goldenrod;
    padding: 1vh 0;
}

.friend:last-child {
    border: none;
}