.my-profile-hero {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start !important;
    border-right: 2px solid goldenrod;
    padding: 1vh 1vw;
    height: 100%;
    width: 25%;

    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-anchor: auto;
}

.my-profile-hero::-webkit-scrollbar {
    display: none;
}

.my-profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-profile-header > h1 {
    font-size: 24px
}

.edit-profile-button {
    height: 2rem;
    width: 2rem;
    border: 1px solid goldenrod;
    border-radius: 16px;
    background-color: rgb(255, 246, 223);
}

.edit-profile-button:hover {
    transition: 0.9s;
    transform: rotate(360deg);
}

.edit-profile-icon {
    height: 100%;
    width: 100%;
}

.friends-list {
    border-top: 2px solid goldenrod;

    /* height: 50%; */
}

/* .friends-list-friends {
    height: 80%;
} */

/* .friends-list-friends,
.my-chats-list {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-anchor: auto;
}

.friends-list-friends::-webkit-scrollbar,
.my-chats-list::-webkit-scrollbar {
    display: none;
} */

.friends-list,
.my-chats {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-anchor: auto;
}

.friends-list::-webkit-scrollbar,
.my-chats::-webkit-scrollbar {
    display: none;
}

.friend {
    border-bottom: 2px solid goldenrod;
    padding: 1vh 0;
}

.friend:last-child {
    border: none;
}

.friend > a {
    display: flex;
    justify-content: space-between;
}

.remove-friend-button {
    height: 2rem;
    width: 2rem;
    border: 1px solid goldenrod;
    border-radius: 16px;
    background-color: rgb(255, 246, 223);
}

.remove-friend-button:hover {
    background-color: crimson;
}

.remove-friend-icon {
    height: 100%;
    width: 100%;
}

.my-chats {
    padding-bottom: 5vh;
    border-top: 2px solid goldenrod;
}

.my-profile-edit {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: goldenrod;
    width: 50%;
    margin: 0 auto;
    padding: 10vh 3vh;
    gap: 8px;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: 2px 2px 4px black;
}

.edit-profile-title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.edit-profile-form > input,
.edit-profile-form > label {
    width: 60%;
}

.edit-profile-form > button {
    border-radius: 25px;
    border: 3px solid black;
    padding: 16px 52px;
    background-color: rgb(247 234 198);
    text-shadow: 0 0 BLACK;
    box-shadow: 2px 2px 4px black;
    font-size: 16px;
    text-decoration: none;
}
