.sign-up-hero {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid black;
}

.sign-up-form {
    gap: 8px;
    width: 50%;
}

.sign-up-left,
.sign-up-right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign-up-left {
    width: 50vw;
    background-color: rgb(247 234 198);
    border-right: 1px solid black;
}

.sign-up-right {
    width: 50vw;
    background-color: goldenrod;
    border-left: 1px solid black;
}

.sign-up-form-title {
    text-align: center;
}

.sign-up-left-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247 234 198);
    padding: 10vh 3vh;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: 2px 2px 4px black;
}

.link-log-in,
.sign-up-form > .submit-button {
    border-radius: 25px;
    border: 3px solid black;
    padding: 16px 52px;
    background-color: rgb(247 234 198);
    text-shadow: 0 0 BLACK;
    box-shadow: 2px 2px 4px black;

    font-size: 16px;
    text-decoration: none;
}

.sign-up-form  > input,
.sign-up-form  > label {
    width: 60%;
}

.sign-up-form > .submit-button {
    background-color: goldenrod !important;
}
