@import url('https://fonts.googleapis.com/css2?family=Barlow');

body {
    font-family: "Barlow";
    margin: 0;
}

a:link {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: black;
}


/* #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */