.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 5%;
    padding: 0 2.5%;
    border-bottom: 2px solid black;
    background-color: rgb(255, 246, 223);
}

.nav-title {
    color: black;
}

.nav-title-right {
    color: rgb(218, 165, 32)
}